@import 'public/styles/kotelnikovo/colors';

.Numbers01 {
  width: 100%;
  height: auto;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    width: auto;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
    margin: auto;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: 400px) {
      width: 100%;
    }

    @media (min-width: 401px) and (max-width: 1000px) {
      width: 50%;
    }

    &-prefix, &-number, &-suffix {
      display: inline;
    }

    &-prefix, &-suffix, &-description {
      font-size: 2rem;
    }

    &-prefix {
      &:after {
        content: ' ';
      }
    }

    &-suffix {
      &:before {
        content: ' ';
      }
    }

    &-number {
      font-family: Monitorca-Bold;
      font-size: 3rem;
    }
  }
}
