@import 'public/styles/kotelnikovo/colors';

.Photo {
  position: absolute;
  transition: all 0.5s ease;
  cursor: pointer;
  box-sizing: border-box;
  border: 8px solid $blackColor;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blackColor;
  overflow: hidden;

  &.active {
    cursor: auto;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__previous, &__next {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    cursor: pointer;

    &-icon {
      position: absolute;
      width: 30px;
      height: 30px;
      top: calc(50% - 15px);
      border-radius: 15px;
      background-color: #00000080;
      &:hover {
        background-color: #000000bb;
      }
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__previous {
    left: 0;
    &-icon {
      left: 10px;
      &:after {
        background: url('/uploads/images/arrow-white.svg') 40% 50% no-repeat;
        background-size: 60%;
      }
    }
  }

  &__next {
    right: 0;
    &-icon {
      right: 10px;
      &:after {
        transform: rotate(180deg);
        background: url('/uploads/images/arrow-white.svg') 40% 50% no-repeat;
        background-size: 60%;
      }
    }
  }
}
