@import 'public/styles/kotelnikovo/colors';

.Text01 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;

  &__text {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    text-shadow: 0px 0px 1px $blackColor;
    padding: 30px 0 40px 0;
  }
}
