@import 'public/styles/kotelnikovo/variables';
@import 'public/styles/kotelnikovo/mixins';

.Gallery02 {
  @include parent();
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: $primaryColor;

  &__title {
    font-family: Monitorca-Bold;
    color: $blackColor;
  }

  &__gallery {
    margin: 0 auto;
    position: relative;
  }
}
