@import 'public/styles/kotelnikovo/variables';

.AdminPanel {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: Arial, serif;
  font-size: 14px;

  &__left {
    width: 250px;
    background-color: #eee;
    box-sizing: border-box;
    padding: 30px 0 20px 20px;
    font-size: 14px;

    &-title, &-link {
      width: auto;
      height: 20px;
      line-height: 20px;
    }

    &-title {
      &:first-child {
        padding-top: 0;
      }

      padding-top: 10px;
      padding-bottom: 5px;
      color: #777;
    }

    &-link {
      padding: 5px 0 5px 10px;
      cursor: pointer;
      transition: all 0.5s ease;
      &.selected {
        background-color: $whiteColor;
      }
    }
  }

  &__right {
    width: calc(100% - 250px);
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
  }
}
