@import 'public/styles/kotelnikovo/colors';

.Controls01 {
  width: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media (max-width: 800px) {
    width: 100%;
    margin-top: 10px;
  }

  &__item {
    flex-basis: 50%;
    padding: 5px 0;
    box-sizing: border-box;

    @media (max-width: 800px) {
      flex-basis: auto;
      display: inline-block;
      padding: 0 10px;
    }

    &.watch {
      order: 1;
      @media (max-width: 800px) {
        order: 3;
      }
    }

    &.rating {
      order: 2;
      @media (max-width: 800px) {
        order: 1;
      }
    }

    &.download {
      order: 3;
      @media (max-width: 800px) {
        order: 4;
      }
    }

    &.vote {
      order: 4;
      @media (max-width: 800px) {
        order: 2;
      }
    }

    &-link {
      text-decoration: underline;
      color: $whiteColor;
      cursor: pointer;
    }
  }
}
