.LoginPage {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(to bottom, #eee, #bbb);

  &__content {
    width: 100%;

  }
}
