@import '../../../public/styles/kotelnikovo/colors';

.CompetitionRow02 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;

  @media (max-width: 800px) {
    flex-wrap: wrap;
  }

  &__person {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 35%;
    flex-shrink: 0;

    @media (max-width: 800px) {
      justify-content: center;
      width: 100%;
    }
    &-photo {
      width: 100px;
      height: 100px;
      flex-shrink: 0;

      &-image {
        border: 5px solid $primaryColor;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }

    &-info {
      padding: 0 10px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      span {
        display: inline-block;
      }

      &-age, &-studyPlace {
        font-family: Monitorca-Italic;
        font-size: 0.8rem;
      }
    }
  }

  &__about {
    @media (max-width: 800px) {
      width: 100%;
      margin-top: 10px;
      text-align: center;
    }
    flex-grow: 1;
  }
}
