@import 'public/styles/kotelnikovo/variables';
@import 'public/styles/kotelnikovo/mixins';

.Video01 {
  @include parent();
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: $blockMarginX;
  background-color: $blackColor;
  color: $whiteColor;

  &__list {
    position: relative;
    transition: all 0.5s ease;
    width: 100%;
    overflow: hidden;
    &-controls {
      &.hidden {
        display: none;
      }
      &-scrollLeft, &-scrollRight {
        position: absolute;
        width: 50px;
        height: 135px;
        bottom: 0;
        background-color: #ffffff50;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        visibility: visible;
        opacity: 1;
        transition: all 0.5s ease;
        &:hover {
          background-color: #ffffff80;
        }
        &.hidden {
          visibility: hidden;
          opacity: 0;
        }
        &-icon {
          width: 20px;
          height: 20px;
        }
      }
      &-scrollLeft {
        left: 0;
        &-icon {
          background: url('/uploads/images/arrow-black.svg') center no-repeat;
          background-size: contain;
        }
      }
      &-scrollRight {
        right: 0;
        &-icon {
          transform: rotate(180deg);
          background: url('/uploads/images/arrow-black.svg') center no-repeat;
          background-size: contain;
        }
      }
    }
    &-item {
      width: 240px;
      height: 135px;
      position: absolute;
      transition-property: left, top, width, height;
      transition-duration: 0.5s;
      transition-timing-function: ease;
      background-color: #000;
      z-index: 1;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        left: calc(50% - 20px);
        top: calc(50% - 20px);
        background: url('/uploads/images/play.svg') center no-repeat;
        background-size: contain;
      }
      &.active {
        z-index: 2;

        &:after {
          width: 100px;
          height: 100px;
          left: calc(50% - 50px);
          top: calc(50% - 50px);
        }
      }

      &.played {
        z-index: 2;

        &:after {
          visibility: hidden;
        }
      }

      &-preview {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &.hidden {
          visibility: hidden;
        }
      }
    }
  }
}
