@import 'public/styles/kotelnikovo/colors';

.Title04 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 100vh;
  height: auto;
  padding-top: 50px;
  box-sizing: border-box;
  color: $blackColor;
  background-color: $primaryColor;

  &__text, &__logo {
    width: 50%;
    height: auto;
    flex-shrink: 0;

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  &__text {
    text-align: center;
    white-space: pre-line;
    padding: 30px 0;

    @media (max-width: 800px) {
      padding-top: 50px;
      padding-bottom: 15px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

    @media (max-width: 800px) {
      padding-top: 15px;
      padding-bottom: 50px;
    }

    img {
      width: 100%;
      max-height: 100%;

      @media (max-width: 800px) {
        width: 70%;
        max-height: 100%;
      }
    }
  }

}
