@import 'public/styles/kotelnikovo/variables';
@import 'public/styles/kotelnikovo/mixins';

.Works01 {
  @include semiParent();
  height: auto;
  transition: all 1s ease;
  background-color: $blackColor;
  color: $whiteColor;

  &__works {
    height: auto;
    transition: all 1s ease;
    &-error, &-loading, &-empty {
      width: 100%;
      text-align: center;
      padding-bottom: $blockMarginX / 4;
    }

    &-error {
      &-reload {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &-row {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      border-color: $whiteColor;
      border-style: solid;
      border-width: 0 0 1px 0;
      font-size: 1rem;

      @media (max-width: 800px) {
        flex-wrap: wrap;
      }
      &:last-child {
        border: none;
        padding-bottom: 0;
      }
    }
  }
}
