@import 'public/styles/kotelnikovo/colors';

.InputData {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__title {
    width: 100%;
    font-size: 3rem;
    font-family: Monitorca-Bold;
    text-transform: uppercase;
    text-align: center;
  }

  &__input {
    position: relative;
    padding: 5px;
    border-radius: 5px;
    border: 1px dashed $blackColor;
    box-sizing: border-box;

    &.Text {
      width: 400px;
      height: 30px;
      line-height: 20px;
      font-size: 20px;

      @media (max-width: 600px) {
        width: 90% !important;
      }
    }

    &.Textarea {
      width: calc(100% - 100px);
      height: 98px;
      resize: none;
      line-height: 14px;
      font-size: 14px;

      @media (max-width: 600px) {
        width: 90% !important;
      }
    }
  }
}
