@import '../../../public/styles/kotelnikovo/colors';

.Transition {
  display: block;
  &__enter {
    opacity: 0;
  }
  &__enterActive {
    opacity: 1;
    transition: all 1s ease;
  }
  &__exit {
    opacity: 1;
  }
  &__exitActive {
    opacity: 0;
    transition: all 1s ease;
  }
}
