@import 'public/styles/kotelnikovo/colors';

.ButtonClose {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid $blackColor;
  background-color: $grayColor;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;

  &:hover {
    background-color: #c4c4c4;
  }

  &__icon {
    width: 100%;
    height: 100%;
    background: url('/uploads/images/close.svg') center no-repeat;
    background-size: 50%;
  }
}
