@import '../../../public/styles/kotelnikovo/colors';

.Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000070;
  z-index: 10;
}
