@import 'public/styles/kotelnikovo/variables';
@import 'public/styles/kotelnikovo/mixins';

.About03 {
  @include parent();
  height: auto;
  background-color: $primaryColor;
  color: $blackColor;
  padding-bottom: $blockMarginX / 2;

  &__title {
    text-align: center;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: inherit;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    &-image {
      max-width: 25%;

      @media (max-width: 600px) {
        max-width: 50%;
      }
    }

    &-description {
      padding: 1rem;
      box-sizing: border-box;
    }
  }
}
