@import 'public/styles/kotelnikovo/variables';

.FileLoader {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__upload {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
    &-input {
      display: none;
    }
  }

  &__list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    &-file {
      position: relative;
      width: calc(25% - 10px);
      height: 32px;
      box-sizing: border-box;
      margin-right: 10px;
      margin-bottom: 10px;
      line-height: 20px;
      font-size: 14px;
      border: 1px solid $blackColor;
      border-radius: 5px;
      overflow: hidden;
      text-overflow: ellipsis;

      &-name {
        display: inline-block;
        max-width: calc(100% - 30px);
        height: 100%;
        padding: 5px;
        box-sizing: border-box;
        word-wrap: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }
      &-remove {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        word-wrap: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: url('/uploads/images/close.svg') center no-repeat;
        background-size: 60%;
        cursor: pointer;
      }
    }
  }
}
