@import 'public/styles/kotelnikovo/colors';

.ImageWithText01 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;

  &__image, &__text {
    flex-shrink: 0;
    padding: 20px 0;
  }

  &__image {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    @media (min-width: 801px) {
      padding-right: 30px;
    }

    @media (max-width: 800px) {
      width: 100%;
    }

    img {
      width: 100%;
      max-height: 100%;

      @media (max-width: 800px) {
        width: 70%;
        max-height: 100%;
      }
    }
  }

  &__text {
    width: 70%;
    text-align: center;
    font-size: 1.4rem;
    text-shadow: 0px 0px 1px $blackColor;

    @media (max-width: 800px) {
      width: 100%;
    }
  }
}
