@import 'public/styles/kotelnikovo/variables';

.Form02 {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  box-sizing: border-box;
  background-color: $primaryColor;
  box-shadow: 0 0 10px $deepBlackColor;
  overflow: hidden;

  @media (max-width: 600px) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__form {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.5s ease;

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }

    &-list {
      width: 100%;
      height: 100px;
      padding: 25px 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &-row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        padding-top: 5px;
        box-sizing: border-box;
        font-size: 30px;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        margin: 0 10px;
        color: $whiteColor;
        background-color: $blackColor;

        @media (max-width: 600px) {
          font-size: 20px;
          width: 30px;
          height: 30px;
          border-radius: 15px;
          margin: 0 5px;
        }

        &.active {
          color: $blackColor;
          background-color: $whiteColor;
        }
      }
    }

    &-screen {
      position: absolute;
      left: 0;
      top: 100px;
      width: 100%;
      padding-bottom: 25px;
      box-sizing: border-box;
      height: calc(100% - 100px);
      transition: all 0.5s ease;
      visibility: visible;
      opacity: 1;
    }
  }

  &__status {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    z-index: 2;

    &.visible {
      visibility: visible;
      opacity: 1;
    }

    &-icon {
      width: auto;
      height: 50%;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-text {
      width: auto;
      height: auto;
      font-size: 20px;
      line-height: 20px;
      padding: 10px 0;
    }

    &-buttonClose {
      padding: 10px;
      margin: 0 10px;
      text-transform: uppercase;
      cursor: pointer;
      background-color: $whiteColor;
    }
  }
}
