@import '../../../../public/styles/kotelnikovo/variables';

.SiteInformation {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  &__left {
    width: 250px;
    background-color: #999999;
    box-sizing: border-box;
    padding: 20px;
  }

  &__right {
    width: calc(100% - 250px);
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;

    &-group {

    }
  }
}
