@import '../../../public/styles/kotelnikovo/colors';

.InputTextShort01 {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__title {
    width: 100%;
    font-size: 3rem;
    font-family: Monitorca-Bold;
    text-transform: uppercase;
    text-align: center;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    pointer-events: none;
  }

  &__box {
    position: relative;
    width: 400px;
    height: 30px;
    line-height: 20px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px dashed $blackColor;
    box-sizing: border-box;
  }

  &__controls {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &-previous, &-next, &-complete {
      padding: 10px;
      margin: 0 10px;
      text-transform: uppercase;
      cursor: pointer;
      background-color: $whiteColor;

      &.disabled {
        background-color: $grayColor;
        cursor: auto;
      }
    }
  }

}
