@import 'public/styles/kotelnikovo/colors';
@import 'public/styles/kotelnikovo/mixins';

.Features03 {
  @include parent();
  padding-bottom: 0;
  height: auto;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  background-color: $blackColor;
  color: $whiteColor;
}
