@import 'public/styles/kotelnikovo/colors';
@import 'public/styles/kotelnikovo/variables';

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300, 700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');


@font-face {
  font-family: 'Monitorca';
  src: url('/fonts/kotelnikovo/Monitorca-Rg.ttf') format('truetype');
}

@font-face {
  font-family: 'Monitorca-Bold';
  src: url('/fonts/kotelnikovo/Monitorca-Bd.ttf') format('truetype');
}

@font-face {
  font-family: 'Monitorca-Italic';
  src: url('/fonts/kotelnikovo/Monitorca-It.ttf') format('truetype');
}

html #kotelnikovo {
  font-family: Monitorca, serif;
}

#kotelnikovo {
  min-width: 360px;
  h1, h2, h3 {
    font-family: Monitorca-Bold, serif;
    text-align: center;
    text-transform: uppercase;
  }

  h1, h2 {
    font-size: 3rem;
    margin-bottom: $blockMarginY / 2;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: $blockMarginY / 4;
  }
}
