@import '../../../public/styles/kotelnikovo/colors';

.TextList01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    width: 100%;
    font-size: 3rem;
    font-family: Monitorca-Bold;
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0 20px 0;
  }

  &__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-row {
      padding-left: 20px;
      font-size: 1.2rem;
    }
  }
}
