@import 'public/styles/colors';

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-size: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  font-weight: unset;
}

html {
  font-size: 18px;
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

@media (max-width: 300px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 301px) and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 801px) and (max-width: 1000px) {
  html {
    font-size: 16px;
  }
}
