@import '../../../public/styles/kotelnikovo/colors';

.CompetitionRow01 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;

  //&-photo {
  //  width: 100px;
  //  height: auto;
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //
  //  &-image {
  //    border: 5px solid $primaryColor;
  //    box-sizing: border-box;
  //    width: 100px;
  //    height: 140px;
  //    background-repeat: no-repeat;
  //    background-position: center;
  //    background-size: cover;
  //  }
  //}

  &__person {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 25%;
    padding-right: 10px;
    box-sizing: border-box;
    flex-shrink: 0;

    span {
      display: inline-block;
    }

    &-age, &-studyPlace {
      font-family: Monitorca-Italic;
      font-size: 0.8rem;
    }
  }

  &__about {
    flex-grow: 1;
  }
}
