@import 'public/styles/kotelnikovo/colors';

.IconList01 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;

  &__item {
    width: 20%;
    padding: 0 2.5% 50px 2.5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 600px) {
      width: 100%;
    }

    @media (min-width: 601px) and (max-width: 800px) {
      width: 50%;
    }

    &-icon {
      width: 30%;
      height: auto;
      margin-bottom: 10px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-description {
      text-align: center;
      text-transform: uppercase;
      text-shadow: 0px 0px 1px $blackColor;

      @media (max-width: 600px) {
        font-size: 1.6rem !important;
      }
    }
  }
}
