@import 'public/styles/kotelnikovo/variables';
@import 'public/styles/kotelnikovo/mixins';

.Validation {
  @include semiParent();
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: auto;
  background-color: $primaryColor;

  @media (max-width: 600px) {
    width: 100%;
  }
}
