@import 'public/styles/kotelnikovo/colors';

$borderRadius: 5px;

.Menu02 {
  position: fixed;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  background: $blackColor;
  z-index: 5;
  box-shadow: 0 0 10px $deepBlackColor;

  @media (max-width: 600px) {
    justify-content: center;
  }

  &__title {
    color: $whiteColor;
    text-transform: uppercase;

    @media (max-width: 600px) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &-main {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: $whiteColor;
      font-family: Monitorca-Bold;
      &-item {
        padding: 10px;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}
