@import 'public/styles/kotelnikovo/variables';
@import 'public/styles/kotelnikovo/mixins';

@function colorChanger ($exampleColor) {
  @if lightness($exampleColor) > 50% {
    @return #000000;
  } @else {
    @return #ffffff;
  }
}

$defaultButtonColor: #ffffff;
$defaultButtonShadow: #000000;
$disabledButtonColor: #d4d4d4;
$primaryButtonColor: #222222;

$insidePadding: 5px;

$smallFontSize: 12px;
$smallHeight: 18px;

$mediumFontSize: 14px;
$mediumHeight: 20px;

$largeFontSize: 16px;
$largeHeight: 22px;

.SimpleUI {
  &-Text {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    height: $mediumHeight;
    line-height: $mediumHeight;
    font-size: $mediumFontSize;
    padding: 0 5px;
  }
  &-Button {
    box-sizing: border-box;
    width: auto;
    height: auto;
    line-height: $mediumHeight;
    font-size: $mediumFontSize;
    padding: 3px 5px;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 0 2px $defaultButtonShadow;
    background-color: $defaultButtonColor;
  }

  &-Row {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 5px 0;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
