@import 'public/styles/kotelnikovo/variables';

$pdfControlsHeight: 40px;

.PdfPopup01 {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000080;
  z-index: 6;
  &__loading {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: $primaryColor;
    color: $blackColor;
    visibility: visible;
    &.hidden {
      visibility: hidden;
    }
  }
  &__content {
    position: absolute;
    width: auto;
    height: 90%;
    visibility: visible;
    &.hidden {
      visibility: hidden;
    }
    &-controls {
      width: 100%;
      height: $pdfControlsHeight;
      background-color: #c4c4c4;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &-previous, &-next {
        &.disabled {
          color: #999999;
          cursor: unset;
        }
      }

      &-previous, &-next, &-close {
        padding: 10px;
        cursor: pointer;
      }
      &-close {
        position: absolute;
        right: 0;
      }
    }
    &-pdf {
      width: 400px;
      height: auto;
      max-height: 90%;
      overflow-x: hidden;
      overflow-y: auto;

      &-page {
        .pageLoading & {
          display: none;
        }
      }
    }
  }
}
