@import 'public/styles/kotelnikovo/variables';

.Paragraph01 {
  width: 100%;
  text-align: center;
  overflow: hidden;
  &__paragraph {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      margin-top: $blockMarginY / 4;

      &:after {
        content: '';
        position: absolute;
        right: -30px;
        width: 20px;
        height: 20px;
        margin-top: -3px;
        transform: rotate(-90deg);
        transition: all 0.5s ease;
        background: url('/uploads/images/arrow-black.svg') center no-repeat;
        background-size: contain;

        .opened & {
          transform: rotate(90deg);
        }
      }
    }

    &-text {
      transition: all 0.5s ease;
      text-shadow: 0 0 1px $blackColor;
      .opened & {
        transition: all 0.5s ease 0.5s;
      }
    }
  }
}
