@import 'public/styles/kotelnikovo/colors';

.Footer01 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
  background-color: $primaryColor;

  &__logo, &__contacts, &__social, &__publish {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 15px;

    @media (max-width: 800px) {
      width: 50%;
    }
    &-title {
      font-weight: 700;
      padding-bottom: 5px;
    }
  }

  &__logo {
    @media (max-width: 800px) {
      order: 1;
    }
    &-image {
      max-width: 80px;
      height: auto;
    }
    &-description {
      text-align: center;
      font-family: Monitorca-Bold;
      margin-top: 5px;
      text-transform: uppercase;
    }
  }

  &__contacts {
    align-items: flex-start;
    @media (max-width: 800px) {
      order: 3;
      align-items: center;
    }

    a {
      color: $blackColor;
    }
  }

  &__contacts, &__social {
    @media (max-width: 800px) {
      padding-top: 20px;
    }
  }
  &__social {
    @media (max-width: 800px) {
      order: 4;
    }

    &-links {
      display: flex;
      flex-direction: row;

      &-item {
        background-color: $whiteColor !important;
        border-radius: 15px;
        width: 30px;
        height: 30px;
        margin: 0 5px;
        .text {
          display: none;
        }
      }
    }
  }

  &__publish {
    @media (max-width: 800px) {
      order: 2;
    }
    &-button {
      padding: 10px;
      width: auto;
      height: auto;
      background-color: #000;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
    }
  }
}
